.footer {
    background-color: #0a2342;
    color: white;
    text-align: center;
    padding: 7px 0;
    font-size: 0.95rem;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    position: relative;
    width: 100%;
}

.footer p {
    margin: 0;
    letter-spacing: 0.5px;
}